---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
const { theme = "greyMode" } = Astro.props;
---

<section data-core={theme}>
  <div class="grid_1-1">
    <div class="">
      <p>Growing with our Clients</p>
      <h2>Our core values & principles</h2>
      <p>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity beta test. Override the digital divide with additional from
        DevOps.
      </p>
    </div>
    <div class="link">
      <a href="/team">Get in touch</a>
    </div>
  </div>
  <div>
    <div class="cards">
      <div class="card">
        <Icon name="stack" class="icon" />
        <h3>Creative Ideas</h3><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
          accumsan augue Donec aliquam.
        </p><a href="">Read More</a>
      </div>
      <div class="card">
        <Icon name="graf" class="icon" />
        <h3>Best Features</h3><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p><a href="">Read More</a>
      </div>
      <div class="card">
        <Icon name="globe" class="icon" />
        <h3>Experience</h3><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
          accumsan augue Donec aliquam.
        </p><a href="">Read More</a>
      </div>
      <div class="card">
        <Icon name="settings" class="icon" />
        <h3>Easy Solutions</h3><p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p><a href="">Read More</a>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--primary-03-black);
    color: var(--secondary-02-white);
    padding-left: 12.6rem;
    padding-right: 12.6rem;
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;

    p {
      margin-bottom: var(--flow-space);
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      color: var(--primary-03-black);
      background-color: var(--secondary-02-white);
      border-radius: 2rem;
      padding: 1rem;
    }
  }
  section h2 {
    font-size: var(--size-2);
    text-wrap: pretty;
    font-weight: 700;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2.25rem;
    color: var(--primary-03-black);

    .card {
      width: fit-content;
      background-color: var(--secondary-02-white);
      padding: 2.25rem 1.4375rem;
      border-radius: 1.25rem;

      .icon {
        max-width: 25%;
        margin-bottom: 1.38rem;
      }
    }
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    align-items: center;

    .link {
      justify-items: end;
      justify-self: end;
    }
  }
  p:first-child {
    background-color: var(--primary-01-yellow);
    width: fit-content;
    height: fit-content;
    letter-spacing: 0.145rem;
    text-transform: uppercase;
    padding: 0rem 1rem;
    color: var(--primary-03-black);
    border-radius: 2rem;
  }

  [data-core="greyMode"] {
    background: #f5f5f5;
    color: var(--primary-03-black);

    section h2 {
      color: var(--primary-03-black);
    }

    .link a {
      background-color: var(--primary-03-black);
      color: var(--secondary-02-white);
    }
  }
</style>
