---
import EmployeeCard from "../components/EmployeeCard.astro";
const { data } = Astro.props;
console.log("hej");
---

<section>
  <!-- {data.map((employee) => <EmployeeCard {employee} />)} -->
  <h2>Hej</h2>
</section>

<style>
  [data-theme="dark"] {
    background-color: var(--primary-03-black);
  }

  section {
  }
</style>
