---
import EmployeeCard from "./EmployeeCard.astro";

const { data } = Astro.props;
---

<section>
  {data.map((employee) => <EmployeeCard {employee} />)}
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px));
    justify-items: center;
    justify-content: center;
    container-type: inline-size;
  }
</style>
