---
import "../styles/global.css";
import { Image } from "astro:assets";
---

<footer>
  <div class="footer_text">
    <h2>AskExperts</h2>
    <hr />
    <p>
      ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--primary-03-black);
    padding: 2.875rem 2rem;
    color: var(--secondary-02-white);
    margin-top: 5rem;

    .footer_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: var(--size--1);
        gap: 2.25rem;
      }
    }
    hr {
      border: 0.5px solid darkgray;
      width: 75rem;
    }
  }
</style>
