---
import "../styles/global.css";
import Login from "./Login.astro";
import { Image } from "astro:assets";
---

<header>
  <div class="logo">
    <a href="/">AskExperts</a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/caseStudy">Case Study</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <Login />
</header>

<style>
  header {
    background-color: var(--primary-03-black);
    display: flex;
    justify-content: space-around;
    color: var(--secondary-02-white);
    padding: 2.38rem;
    text-align: center;
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0;

    ul {
      display: flex;
      gap: 1.8rem;

      li {
        list-style: none;
      }
    }
    a {
      text-decoration: none;
      font-size: 1rem;
      color: var(--secondary-02-white);
    }
  }
  .logo a {
    text-decoration: none;
    font-size: var(--size-1);
    color: var(--secondary-02-white);
  }
</style>
